#page-login-index{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: var(--fifth-color);
}
.container-box{
    display: grid;
    grid-template-rows: 100px auto;
    width: 100vw;
    min-height: 70vh;
    background-color: var(--secundary-color);
    max-width: 700px;
    position: relative;

}

@media only screen and (max-width: 600px){
    #page-login-index{
        align-content: initial;
        justify-content: initial;
    }
    .container-box{
        grid-template-rows: 50px auto;
    }
}