#page-login-index{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #99d9ea;
}
.container-box{    
    width: 100vw;
    height: 60vh;
    background-color: #FFF;
    max-width: 700px;
}
