#section-tertiary{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px auto;
    grid-gap: 1px;
    max-width: 400px;
}

#section-tertiary header{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-bottom: 1px solid var(--secundary-color);
}
#section-tertiary header span{
    color: var(--secundary-color);
    text-align: left;
    font-size: var(--font-size-one);
    font-weight: bold;
}


.list-section-tertiary{
    background-color: var(--primary-color);
    padding-top: 0;
    position: relative;
    border: none;
    overflow-y: auto;
}

.list-section-tertiary::-webkit-scrollbar{
    width: 5px;
    background-color: var(--tertiary-color);
    padding: 0;
}


.list-section-tertiary ul li ul{
    padding: 10px 25px;
    margin: 0;
    border-bottom: 1px solid var(--secundary-color);
    color: var(--secundary-color);   
}

.list-content li:first-of-type{
    font-size: 18pt;
    color: var(--secundary-color);;
    font-weight: bold;
}

._first-children{
    background-color: var(--seventh-color);
}
._first-children li{
   padding: 5px 0;  
}
._first-children li:first-child{
    font-size: var(--font-size-one);
}

._green_circle_status{
    list-style: inside url("/icons/8px_green.svg");
}

._yellow_circle_status{
    list-style: inside url("/icons/8px_yellow.svg");
}
._gray_circle_status{
    list-style: inside url("/icons/8px_gray.svg");
}
._style-font-icon-toggle{
    cursor: pointer;
    color: var(--secundary-color);
}

@media only screen and (max-width: 700px){
    #section-tertiary{
        max-width: 100%;
        margin-bottom: 50px;
    }
}
