#help{
    padding: 0;
    grid-template-columns: repeat(2, 50%);
}
#help h2{
    line-height: 170px;
    text-transform: uppercase;
    font-size: var(--font-size-two);
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);;
}
#help span a {
    display: grid;
 }
 #help span a:last-child{
     padding-bottom: 20px; 
 }
#help article{
    height: 100%;
    padding: 0 10px;
    display: grid;
    grid-template-rows: 100px auto;
}

.button-phone{
    margin-top: 20px;
    padding: 10px 10px;
    width: 100%;
}
.button-phone a{
    
    padding: 10px 40px;
    text-decoration: none;
    color: var(--secundary-color);;
}

#support article address{
    display: grid;
    grid-template-rows: 0px auto;
    grid-gap: 100px;
    text-align: center;
}

@media only screen and (max-width: 600px){
    #help{
        grid-template-columns: auto;
        grid-gap: 20px;
        padding: 10px;
    }
    #help article{
        background-color: var(--secundary-color);;
    }
}