#window-component{
    background-color:greenyellow;
}
#window-component header{
    background-color: red;
    width: 100%;
    min-height: 20px;
}
.button-close{
    font-size: 1px;
    text-align: right;
}