.section-secondary-tools{
    background-color: var(--secundary-color);
    text-align: center;
}
.section-secondary-tools form{
    margin: 0 10px;
    height: 100%;
    position: relative;
}
.section-secondary-tools form button{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100px;
    margin: 0 0px 30px 0px;
}


.title-section-secondary{
    font-size: 18pt;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
}