.section-secondary-tools{
    background-color: var(--secundary-color);
    text-align: center;
    position: relative;
    padding: 0 10px;
    margin-top: 150px;
    
}
.section-secondary-tools form{
    height: auto;

}
.section-secondary-tools form button{
    position: absolute;
    right: 10px;
    bottom: 0;
    max-width: 100px;
    margin: 0 0px 30px 0px;
}


.title-section-secondary{
    font-size: 18pt;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
}

@media only screen and (max-width: 700px){
    .section-secondary-tools{
        margin-bottom: 150px;
    }
}   