
.login-box{
    padding: 0;
    margin: 0;
    height: 70%;
    display: grid;
    grid-template-columns: 50%;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.login-box label{
    transition: .5s;
    position: relative;
    width: 100%;
    text-transform: uppercase;
}
.login-box span{ 
    bottom: 0;
    position: absolute;
    color: #366fbc;
    left: 0;
}
.login-box input{
    font-size: 12pt;
    width: 100%;
    border: none;
    border-bottom: 2px solid #366fbc;
    height: 20px;
    margin-top: 30px;
}

.login-box input:placeholder-shown + span {
    transition: .3s;
    transform: translateY(0);
}

.login-box input:focus + span{
    transition: .3s;
    transform: translateY(-20px);
}

.button-submit{
   margin-top: 20px;
   height: 50px;
   text-transform: uppercase;
}

@media only screen and (max-width: 600px){
    .login-box{
        grid-template-columns: 90%;
        margin: 20% 10px;
        background-color: #FFF;
    }
}   
