
.login-box{
    padding: 0;
    margin: 0;
    height: 70%;
    display: grid;
    grid-template-columns: 50%;
    align-content: center;
    justify-content: center;
}

.login-box input{
    font-size: 12pt;
    border: none;
    border-bottom: 2px solid #366fbc;
    height: 20px;
    margin-top: 20px;
}
.login-box input[type='checkbox']{
    background-color: red;
}
.button-submit{
   margin-top: 20px;
   height: 50px;
   text-transform: uppercase;
}