.login-box{
    padding: 0;
    margin: 0;
    height: 70%;
    display: grid;
    grid-template-columns: 50%;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.button-submit{
   margin-top: 20px;
}

@media only screen and (max-width: 600px){
    .login-box{
        grid-template-columns: 90%;
        margin: 20% 10px;
        background-color: #FFF;
    }
}   
