#help{
    padding: 0;
    grid-template-columns: repeat(2, 50%);
}
#help h2{
    text-transform: uppercase;
    font-size:16pt;
    text-align: center;
    color: #366fbc;
    border-bottom: 1px solid #366fbc;
}

#help span a{
    padding: none;
    display: grid;
}
#help article{
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto;
    justify-content: center;
}

.button-phone{
    margin-top: 20px;
    padding: 10px 10px;
    height: 50px;
    width: 100%;
}
.button-phone a{
    
    padding: 10px 40px;
    text-decoration: none;
    color:#FFF;
}

#support article address{
    display: grid;
    grid-template-rows: 0px auto;
    grid-gap: 100px;
    text-align: center;
}
