nav{
	display: grid;
    grid-template-rows: auto;
	grid-template-columns: repeat(2, auto);
	text-align: center;
	line-height: 85px;
}

.nav-tabs-login:hover{
	border-bottom: 5px solid #008fdb;
}

.nav-tabs-login{
	text-decoration: none;
	color: #FFF;
    height: 100%;
	border-bottom: 5px solid rgba(0,0,0,0);
}