.-commom{
    background-color: #e5e5e5;
    color: #00F;
    font-size: 16pt;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    padding: 5px 0;
    border: none;
    text-transform: uppercase;
}

.form-search-data{
    display: grid;
    grid-template-columns: 50% 120px;
    text-transform: uppercase;
}

.form-search-data input{
    border-right: 2px solid #FFF;
}

.form-search-data input::placeholder{
    font-weight: bold;
}

.form-search-data select{
    min-width: 150px;
}