#tools-section-limit{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
    max-height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#tools-section{
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em ;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#tools-section section{
    height: 100%;
    max-height: 600px;
}
@media only screen and (max-width: 1024px){
    #tools-section{
        margin: 0 10px;
    }
}
@media only screen and (max-width: 700px){
    
    #tools-section-limit{
        grid-gap: 0;
        grid-template-columns: auto;
        margin-bottom: 15px;        
    }

    #tools-section{
        margin: 0 10px;
        display: grid;
        grid-template-columns: auto;
    }

}

