.nav-bar-menu{
    background-color: var(--primary-color);
    width: 100%;
    max-width: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 155px auto;
    color: var(--secundary-color);
    position: relative;
}

.menu_section_primary{
    display: grid;
    align-items: center;
    align-content: space-between;
    border-bottom: 2px solid var(--secundary-color);
}

.menu_section_secundary{
    display: block;

}

.menu_section_secundary > div{
    cursor: pointer;
    height: 60px;
}

.menu_section_secundary > div:last-child{
    position: fixed;
    border-top: 2px solid var(--secundary-color);
    bottom: 0;
    padding: 5px 13px;
}
