#header_dashboard{
    background-color: var(--secundary-color);
    display: grid;
    align-content: center;
    padding-left: 60px;
    grid-column: 1/3;
    
}

#header_dashboard input, #header_dashboard select{
    color: var(--secundary-color);
}

