#tools-section{
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em ;
    justify-content: center;
    align-items: center;
}

#tools-section section{
    height: 100%;
    max-height: 400px;
}
@media only screen and (max-width: 700px){

    #tools-section{
        margin: 0 10px;
        display: grid;
        grid-template-columns: auto;

    }
}

