#tools-section{
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em ;
    justify-content: center;
    margin-top: 20px;
}

#tools-section section{
    height: 100%;
    max-height: 400px;
}

