*{
  outline: none;
  font-family: sans-serif;
  /*COLOR*/
  
  --primary-color : #366fbc;
  --secundary-color: #ffffff;
  --tertiary-color: #cccccc;
  --fifth-color: #99d9ea;
  --fourth-color: #008fdb;
  --sixth-color: #3297ce;
  --seventh-color: #22287d;
  --eighth-color: #e5e5e5;
  --transparent: rgba(0,0,0,0);
  /*COLOR*/
  scrollbar-width: thin;

  /*FONT*/
  --font-size-one: 18pt;
  --font-size-two: 16pt;
  --font-size-three: 12pt;
  /*FONT*/
}
