#showTool{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.section-primary-tools{
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    width: 100%;
}

.section-primary-tools button{
    width: 100%;
    max-width: 230px;
    background: var(--primary-color);
    display: grid;
    grid-template-columns: 100px auto;
    box-sizing: content-box;
    height: auto;
    align-items: center;
    transition: .3s;
}
.section-primary-tools button:hover{
    background: var(--seventh-color);
}
.section-primary-tools p{
    text-align: center;
    margin-right: 10px;
    font-size: var(--font-size-three);
}
.section-primary-tools i {
    font-size: 80px;
    border-radius: 100%;
    padding: 10px;
}
@media only screen and (max-width: 700px){
    
    .section-primary-tools{
        grid-template-columns: repeat(3, auto);
        grid-template-rows:auto;
        overflow-x: auto;
    }

    .section-primary-tools button{
        display: block;
        transition: .3s;
        max-width: none;
        width: 47vw;
        scroll-behavior: smooth;
    }
    .section-primary-tools i {
        font-size: 80px;
        padding: 0px;
    }
}

.-color{
    color: green;
}

@media only screen and (max-width: 550px){
    .section-primary-tools button{
        width: 44vw;
    }
}