
.section-primary-tools{
    display: grid;
    grid-gap: 10px;

}

.section-primary-tools button{
    position: relative;
    width: 230px;
    display: grid;
    background: var(--primary-color);
    display: grid;
    grid-template-columns: 100px auto;
    box-sizing: content-box;
    min-height: 127px;
    align-items: center;
    transition: .3s;
}
.section-primary-tools button:hover{
    background: var(--seventh-color);
}
.section-primary-tools p{
    text-align: center;
    margin-right: 10px;
    font-size: var(--font-size-three);
}
.section-primary-tools i {
    font-size: 80px;
    border-radius: 100%;
    padding: 10px;
}
