.section-primary-tools button{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-content: center;
    text-align: center;
    line-height: 100px;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    min-height: 127px;
    margin-bottom: 10px;
}

.section-primary-tools span{
    text-align: center;
    line-height: 100px;
}